@use 'sass:math'
@use 'sass:color'

@import config
@import 'blocks/**/*'


#app
    min-height: 100vh
    width: 100%
    display: flex
    align-items: center

#app-section
    max-width: 1440px
    width: 100%
    margin: 0 auto
    padding: 0 48px
    position: relative


.calculator
    color: #111111
    width: 100%
    padding: 64px 0

.calculator__title
    font-size: 54px
    font-family: Nekst-Black
    max-width: 753px
    margin-bottom: 32px


.calculator-form
    width: 100%

.calculator-form__column
    width: 100%
    padding: 0 32px
    position: relative


.calculator-form__title
    font-family: 'Gilroy'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 20px
    color: #575757
    margin: 0
    padding: 0
    margin-bottom: 24px

.range__input
    -webkit-appearance: none
    width: calc(100% - 48px)
    height: 2px
    background: #FF9514
    outline: none
    opacity: 0.7
    -webkit-transition: .2s
    transition: opacity .2s
    position: absolute
    bottom: 0
    left: 24px


.range__input:hover 
    opacity: 1


.range__input::-webkit-slider-thumb 
    -webkit-appearance: none
    appearance: none
    width: 20px
    height: 20px
    background: #FF9514
    cursor: pointer
    border-radius: 100%

.range__input::-moz-range-thumb 
    width: 20px
    height: 20px
    background: #FF9514
    cursor: pointer
    border-radius: 100%


.range
    background: #F3F3F4
    border-radius: 16px
    position: relative
    height: 68px
    display: flex
    align-items: center
    width: 100%
    


.range-content
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%

.range-content__value
    margin: 0
    font-family: 'Nekst-Black'
    font-style: normal
    font-weight: 900
    font-size: 30px
    line-height: 36px
    color: #575757
    margin-left: 24px

.range-content__icon-rub
    font-size: 30px
    line-height: 36px
    color: #575757
    margin-right: 24px


.row
    position: relative
    margin: 0
    margin-right: -32px
    margin-left: -32px
    margin-bottom: 51px
    display: flex


.row:last-child
    margin-bottom: 0

.range-content__percent
    width: 69px
    height: 54px
    background: #EBEBEC
    border-radius: 16px
    display: flex
    align-items: center
    justify-content: center
    font-family: 'Nekst-Black'
    font-style: normal
    font-weight: 900
    font-size: 20px
    line-height: 120%
    color: #575757
    margin-right: 7px



.range-content__time
    font-family: 'Nekst-Black'
    font-style: normal
    font-weight: 900
    font-size: 30px
    line-height: 36px
    text-align: right
    color: #575757
    margin-right: 24px


.calculator-form__summ
    font-family: 'Nekst-Black'
    font-style: normal
    font-weight: 900
    font-size: 54px
    line-height: 90%
    color: #333333
    padding: 0
    margin: 0


.calculator-form__button
    height: 68px
    background: #FF9514
    border-radius: 40px
    width: 100%
    color: #fff
    border: none
    font-family: 'Nekst-Black'
    font-style: normal
    font-weight: 900
    font-size: 30px
    line-height: 36px
    color: #FFFFFF


.calculator-form__column-end
    display: flex
    flex-direction: column-reverse





@media (max-width: 1120px)
    .row
        flex-direction: column
        margin-top: 44px
        margin-bottom: 0

    .row:last-child
        flex-wrap: wrap
        flex-direction: row

    #app-section
        padding-right: 36px
        padding-left: 36px

    .calculator__title
        margin-bottom: 0

    .calculator-form__column
        margin-bottom: 39px

    .calculator-form__column:last-child
        margin-bottom: 0

    .calculator-form__column-half
        width: 50%
        margin-bottom: 44px

    .calculator-form__title
        margin-bottom: 8px
    
    .range
        margin-top: 24px


@media (max-width: 768px)

    #app-section
        padding-right: 21px
        padding-left: 21px

    .calculator__title
        font-size: 34px

    .row
        flex-direction: column
        margin-top: 32px

    .row:last-child
        margin-top: 25px

    .calculator-form__title
        font-size: 16px

    .range-content__value,
    .calculator-form__summ,
    .calculator-form__button,
    .range-content__time,
    .range-content__icon-rub
        font-size: 22px

    .range
        margin-top: 8px

    .calculator-form__title
        margin-bottom: 2px

    .range,
    .calculator-form__button
        height: 60px

    .calculator-form__column-half
        width: 100%
        margin-bottom: 29px

    .calculator
        padding-top: 44px
        padding-bottom: 44px

    .calculator-form__button
        margin-top: 3px